{% extends 'base.html' %}

{% block title %}
Detail Page for {{ user.username }}
{% endblock %}

{% block content %}
    <h1>Detail Page for {{ user.username }} </h1>
    <ul>
        <li>Username: {{ user.username }}</li>
        <li>Email: {{ user.email }}</li>
        <li>First Name: {{ user.first_name }}</li>
        <li>Last Name: {{ user.last_name }}</li>
    </ul>
    <ul>
        {% for feedback in feedback %}
            <li>{{ feedback }} <a href="/feedback/{{ feedback.id }}/update">Edit</a>
            <form action="/feedback/{{ feedback.id }}/delete" method="POST">
                <button type="submit">Delete</button></li>
            </form>
        {% endfor %}
    </ul>
    <form action="/logout" method="GET">
        <button class="btn btn-danger" type="submit">Logout</button>
    </form>
{% endblock %}